{{#with model as |project|}}
  <article class="portfolio-project">
    <header>
      <h3>
        {{project.name}}
        {{#with project.year as |year|}}
          ({{year}})
        {{/with}}
      </h3>
    </header>
    <section>
      {{#with project.screenshot as |screenshot|}}
        <figure>
          <img src={{screenshot.src}} width="400" alt={{screenshot.alt}}>
          {{#if screenshot.description}}
            <figcaption>{{{screenshot.description}}}</figcaption>
          {{/if}}
        </figure>
      {{/with}}
      <p>{{{project.description}}}</p>
    </section>
    <footer>
      {{#with project.technologies as |technologies|}}
        <small>
          Used technologies:
          <ul class="technologies">
            {{#each technologies as |technology|}}
              <li>
                {{~#if technology.link~}}
                  <a href={{technology.link}}>{{technology.name}}</a>
                {{~else~}}
                  {{~technology.name~}}
                {{~/if~}}
              </li>
            {{/each}}
          </ul>
        </small>
      {{/with}}
    </footer>
  </article>
{{/with}}
