<div class="body">
  {{oct-icon 'git-pull-request' class='mega-octicon'}}

  <div class="time">{{moment-from-now gh.created_at}}</div>
  <div class="title">
    <a href="https://github.com/{{gh.actor.login}}">{{gh.actor.login}}</a>
    {{gh.payload.action}} pull request
    <a href="https://github.com/{{gh.repo.name}}/pull/{{gh.payload.number}}">
      {{gh.repo.name}}#{{gh.payload.number}}
    </a>
  </div>
  <div class="details">
    <a href="https://github.com/{{gh.actor.login}}">
      <img class="gravatar" alt="@{{gh.actor.login}}" src={{gh.actor.avatar_url}} width="48" height="48">
    </a>
    <div class="message">
      <blockquote>
        {{gh.payload.pull_request.title}}
      </blockquote>
      <div class="pull-info">
        {{oct-icon 'git-commit'}}
        <em>{{gh.payload.pull_request.commits}}</em>
        commits with
        <em>{{gh.payload.pull_request.additions}}</em>
        additions and
        <em>{{gh.payload.pull_request.deletions}}</em>
        deletions
      </div>
    </div>
  </div>
</div>
